
body {
  background-color: aliceblue;
}

h1 {
  text-align: center;
  font-size: 75px;
  font-style: oblique;

}

img {
  height: 490px;
  width: 490px; 
  border-radius: 50px;
  border: solid black;
}



h2{
  text-align: center;
  font-size: 37px;
  font-variant: small-caps;
}
main {
  align-items: center;

}

#container {
  display:block;
  margin: auto;
  margin-bottom: 0px;
  
}


button {
  background-color: paleturquoise;
  display: inline;
  margin: auto;
}

ul {
  display: inline;
  padding-left: 700px;
}

#results {
  display: inline;
  padding-left: 700px;
  font-size: 20px;
}