
body {
  background-color: whitesmoke;
}

h1 {
  text-align: center;
  font-size: 75px;
  font-style: oblique;

}

img {
  height: 500px;
  width: 500px; 
}



h2{
  text-align: center;
  font-size: 37px;
  font-variant: small-caps;
}
main {
  border: solid black;
  align-items: center;

}

#container {
  display:block;
  margin: auto;
}


