
body {
  background-color: cornflowerblue;
}

h1 {
  text-align: center;
  font-size: 75px;
  font-style: oblique;

}

img {
  height: 300px;
  width: 300px;
}

h2{
  text-align: center;
  font-size: 37px;
  font-variant: small-caps;
}
main {
  border: solid black;
  align-items: center;

}

section, ul{
  align-content: center;
  
  
}

#photos {
  display: inline-block;
  width: 25%;
}

button {
  display: inline-block;
}